* {
  box-sizing: border-box;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.container {
  width: 1200px;
  margin: 0 auto;
  font-size: 0;
}

.first-row > div {
  width: 400px;
  height: 400px;
  outline: 1px solid red;
  background: lightskyblue;
  display: inline-block;
  font-size: 16px;
}

.second-row > div {
  background: yellow;
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
}
.second-row-left-column {
  width: 800px;
}

.second-row-left-column > div {
  height: 200px;
  outline: 1px solid red;
}

.second-row-right-column {
  width: 400px;
}

.second-row-right-column > div {
  height: 133.33px;
  outline: 1px solid red;
}

.third-row > div {
  background: orange;
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
}
.third-row-left-column {
  width: 400px;
  height: 400px;
  outline: 1px solid red;
}
.third-row-right-column {
  width: 800px;
}
.third-row-right-column > div {
  height: 200px;
  outline: 1px solid red;
}
.third-row-right-column-bottom {
  font-size: 0;
}
.third-row-right-column-bottom > div {
  vertical-align: top;
  width: 400px;
  height: 200px;
  outline: 1px solid red;
  display: inline-block;
  font-size: 16px;
}
.third-row-right-column-bottom > div > div {
  width: 400px;
  height: 100px;
  outline: 1px solid red;
}
